## INPORTATION DES MODULES

In [61]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.metrics import confusion_matrix

##  CHARGER LE JEU DE DONNE

In [15]:
data = pd.read_excel('coeur.xlsx')
data

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

## COPIE DE DATA DANS DF

In [14]:
df = data.copy()
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

##  VERRIFIER LES DOUBLONS

In [22]:
doublon = df.duplicated()
doublon

0      False
1      False
2      False
3      False
4      False
       ...
913    False
914    False
915    False
916    False
917    False
Length: 918, dtype: bool

In [19]:
dupli = df.drop_duplicates()
dupli

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

## VERRIFIER LES DOUBLONS  SUR 1 LIGNE

In [20]:
doublon_ligne =  df.duplicated().value_counts()
doublon_ligne

False    918
dtype: int64

## SUPRIMER LES DOUBLONS  SUR 1 LIGNE

In [23]:
delet = df.drop_duplicates()
delet

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

## VERRIFIER LES DONNES MANQUANTES

In [24]:
manqt = df.isna().value_counts()
manqt

AGE    SEXE   TDT    PAR    CHOLESTEROL  GAJ    ECG    FCMAX  ANGINE  DEPRESSION   PENTE  CŒUR
False  False  False  False  False        False  False  False  False   False        False  False    918
dtype: int64

## SUPRIMER LES DONNES MANQUANTES

In [25]:
dele_dro = df.dropna()
dele_dro

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

## SUPRIMER LES DONNES MANQUANTES VERRIFIER L'EXITANCE DE CONSTACNE

In [26]:
cont_manqt = df.nunique()
cont_manqt

AGE             50
SEXE             2
TDT              4
PAR             67
CHOLESTEROL    222
GAJ              2
ECG              3
FCMAX          119
ANGINE           2
DEPRESSION      53
PENTE            3
CŒUR             2
dtype: int64

In [27]:
#liste des variables quantitatives
quant_var = df.select_dtypes('int64', 'float32')

#je supprime la variable CŒUR de quant_var
quant_var = quant_var.drop(['CŒUR'], axis= 1)

#liste des variables qualitatives
qual_var = df.select_dtypes('object')

In [28]:
#normaliser les variables quantitatives 
def normaliser(datf):
    for col in quant_var:
        datf[col] = datf[col]/datf[col].max()
    return datf

normaliser(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,0.519481,homme,AA,0.70,0.479270,0.0,Normal,0.851485,Non,0.0,Ascendant,0
1,0.636364,femme,DNA,0.80,0.298507,0.0,Normal,0.772277,Non,1.0,Plat,1
2,0.480519,homme,AA,0.65,0.469320,0.0,ST,0.485149,Non,0.0,Ascendant,0
3,0.623377,femme,ASY,0.69,0.354892,0.0,Normal,0.534653,Oui,1.5,Plat,1
4,0.701299,homme,DNA,0.75,0.323383,0.0,Normal,0.603960,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.584416,homme,AT,0.55,0.437811,0.0,Normal,0.653465,Non,1.2,Plat,1
914,0.883117,homme,ASY,0.72,0.320066,1.0,Normal,0.698020,Non,3.4,Plat,1
915,0.740260,homme,ASY,0.65,0.217247,0.0,Normal,0.569307,Oui,1.2,Plat,1
916,0.740260,femme,AA,0.65,0.391376,0.0,LVH,0.861386,Non,0.0,Plat,1
917,0.493506,homme,DNA,0.69,0.290216,0.0,Normal,0.856436,Non,0.0,Ascendant,0

In [29]:
#recoder les variables qualitatiives

#fonction permettant de recoder une serie
def serie_recoder(serie):
    return serie.astype('category').cat.codes

#fonction permettant de recoder toutes les variables qualitatiives du dataframe
def data_recoder_qual_var(datf):
    for col in qual_var:
        datf[col] = serie_recoder(datf[col])
    return datf

df = data_recoder_qual_var(df)
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,0.519481,1,0,0.70,0.479270,0.0,1,0.851485,0,0.0,0,0
1,0.636364,0,3,0.80,0.298507,0.0,1,0.772277,0,1.0,2,1
2,0.480519,1,0,0.65,0.469320,0.0,2,0.485149,0,0.0,0,0
3,0.623377,0,1,0.69,0.354892,0.0,1,0.534653,1,1.5,2,1
4,0.701299,1,3,0.75,0.323383,0.0,1,0.603960,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.584416,1,2,0.55,0.437811,0.0,1,0.653465,0,1.2,2,1
914,0.883117,1,1,0.72,0.320066,1.0,1,0.698020,0,3.4,2,1
915,0.740260,1,1,0.65,0.217247,0.0,1,0.569307,1,1.2,2,1
916,0.740260,0,0,0.65,0.391376,0.0,0,0.861386,0,0.0,2,1
917,0.493506,1,3,0.69,0.290216,0.0,1,0.856436,0,0.0,0,0

In [31]:
#creer un dataframe x qui va contenir de age a pente et y coeur
X = df.iloc[:,:-1]
y= df.CŒUR

In [53]:
#train_test_split() fonction on va lui donner en parametre x et y et le taux 0.3
X_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state = 0)

ValueError: too many values to unpack (expected 2)

In [33]:
print ("X_train: ")
X_train

X_train:

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE
76,0.415584,1,1,0.590,0.877280,0.0,1,0.643564,0,0.0,2
48,0.467532,1,3,0.560,0.563847,0.0,1,0.910891,0,1.0,2
304,0.662338,1,1,0.475,0.000000,1.0,1,0.623762,0,2.2,2
263,0.766234,1,1,0.650,0.208955,0.0,1,0.618812,0,0.0,2
744,0.779221,1,1,0.585,0.381426,1.0,1,0.792079,1,1.4,0
...,...,...,...,...,...,...,...,...,...,...,...
835,0.701299,1,1,0.550,0.396352,0.0,1,0.623762,1,2.8,2
192,0.623377,1,0,0.650,0.406302,0.0,1,0.792079,0,0.0,0
629,0.740260,0,1,0.640,0.502488,0.0,0,0.787129,0,0.0,0
559,0.831169,1,1,0.670,0.452736,0.0,1,0.504950,1,4.0,1
684,0.610390,1,3,0.540,0.402985,0.0,1,0.752475,0,0.0,0

In [34]:
print ("y_train: ")
y_train

y_train:

76     1
48     0
304    1
263    1
744    1
      ..
835    1
192    0
629    0
559    1
684    1
Name: CŒUR, Length: 642, dtype: int64

In [35]:
print("X_test: ")
X_test

X_test:

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE
306,0.714286,1,1,0.575,0.000000,1.0,1,0.767327,0,0.1,2
711,0.857143,1,1,0.600,0.500829,0.0,0,0.747525,0,0.4,2
298,0.662338,1,1,0.550,0.000000,1.0,1,0.455446,0,0.0,2
466,0.714286,1,3,0.600,0.000000,0.0,2,0.618812,1,2.5,2
253,0.805195,1,0,0.700,0.449420,0.0,1,0.752475,0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
49,0.532468,1,1,0.550,0.479270,0.0,1,0.841584,0,0.0,2
456,0.792208,1,3,0.600,0.000000,0.0,1,0.396040,1,0.0,2
342,0.792208,1,1,0.550,0.000000,1.0,1,0.559406,0,1.4,2
907,0.571429,1,1,0.600,0.280265,0.0,1,0.712871,1,2.8,1
116,0.493506,1,1,0.600,0.467662,0.0,1,0.841584,0,0.0,2

In [52]:
print()
y_test

306    1
711    0
298    1
466    1
253    0
      ..
49     1
456    1
342    1
907    1
116    1
Name: CŒUR, Length: 276, dtype: int64

In [51]:
#instanciation du modele
regLog_mod = linear_model.LogisticRegression()

In [49]:
#entrainer le modele
regLog_mod.fit(X_train,)

NameError: name 'regLog_mod' is not defined

In [46]:
#score entrainement
regLog_mod.score(X_train, y_train)*100

NameError: name 'regLog_mod' is not defined

In [45]:
#score test
regLog_mod.score(X_test, y_test)*100

NameError: name 'regLog_mod' is not defined

In [55]:
#construire la matrice de confusion 
confusion_matrix(y_test,(X_test))

ValueError: Classification metrics can't handle a mix of binary and continuous-multioutput targets

In [43]:
#la precision 
preci = precision_score(regLog_mod.predict())*100
preci

NameError: name 'regLog_mod' is not defined

In [54]:
#la sensibilite
(y_test, regLog_mod.predict(X_test))

NotFittedError: This LogisticRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.